.side{
  width: 100%;
  height: 100%;
  background:  #333333;
  padding: 30px 30px 200px 30px;
  margin: 0;
  border-radius: 0 20px 20px 0;
  color: white;
  
  hr{
    background: white;
    margin-bottom: 10px;
  }

  a{
  	cursor: pointer;
  	margin-bottom: 20px;
  	text-decoration: none;
  	border-bottom: 1px solid transparent;
  }

  .active{
  	color: red;
  	border-bottom: 1px solid red;
  }

  a:hover{
  	color: red;
  	border-bottom: 1px solid red;
  }

  h5{
  	
  }


  h3{
  	padding-bottom: 50px;
  }
}
